@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');

input.searchbox {
  width: 500px;
}

footer {
  background-color: grey;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 50px;
  width: 100%;
  overflow: hidden;
}

.myDiv {
  font-family: monospace;
}

.flagContainer {
  text-align: center;
  vertical-align: middle;
}

h1 {
  font-family: 'Heebo', sans-serif;
}

h2 {
  padding-top: 10px
}

h5 {
  font-family: 'Roboto Condensed', sans-serif;
}
